<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Ship</title>
    <style>
            *{
                text-align: center
            }
        </style>
</head>
<body>
    <h1>You entered the Ship</h1>
    <p>You see a path hopefully leading to the alien ship bridge. But you also spot an alien fighter in the nearby hangar.</p>
    <a href="/escape">You choose to test your luck flying the alien fighter.</a>
    <a href="/left/right">You decide to head towards the alien ship bridge.</a>
</body>
</html>