<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Bridge</title>
    <style>
            *{
                text-align: center
            }
        </style>
</head>
<body>
    <h1>Enter Brider</h1>
    <p>You see many strange alien creatures at the controls of the bridge.</p>
    <a href="/death">Try to communicate with alien bridge crew.</a>
    <a href="/escape">Commandeer the alien ship through force.</a>
</body>
</html>